
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    min-width: 360px;
    height: 200vh;
    padding: 4rem 4rem;
    

}

.container {
    width: 100%;
    max-width: 96rem;
    
    height: 100%;
    margin: 0 auto;
    padding: 2rem;

    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 2rem;
    border: 1px solid black;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

section {
    border: 1px solid black;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: underline;;

}


p {
    line-height: 1.5;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.answer {
    color: blue;
    margin-top: -2rem;
}